
h1, h2, h3, h4 {
    font-family: andale mono, monospace;
    font-weight: 100;
}

header {
    background-color: rgb(176, 196, 196);
    padding-bottom: 20px;

    
}

h1, p {
    margin-top: -10px;
    
}

h1 {
    font-size: 3em;
}

.logo {
    order: 1;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 30px;
    display: flex;
    
}

a {
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: 0
    ;
}

a:hover {
    transform: scale(150%);
    color: aliceblue;
    transition: 0.2s;
}

/* Table under MY SKILLS*/
table tr td {
    margin: 0 auto;
    border-style:outset ;
    padding: 10px;
}

/* Images layout*/
img {
    width: 400px;
    height: 300px;
    object-fit:cover;
    object-position: 50%;
    padding: 5px;
}

video {
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding: 5px;
    justify-content: center;
    flex-wrap: wrap;
    
}

video:hover {
    cursor: pointer;
    transform: scale(130%);
    height: 500px;
    width: 400px;
    object-fit: contain;
    transition: 0.5s;
}

/*--Images layout functiom */
div {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

/* Images Hover functions*/ 
img:hover {
    cursor: pointer;
    transform: scale(130%);
    height: 500px;
    width: 400px;
    object-fit: contain;
    transition: 0.5s;
}

/* Entire Page (texts)*/ 
body {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
} 






