h1, h2, h3, h4{
    font-family: andale mono, monospace;
    font-size: 30px;
    font-weight: 100;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.logo{
    order: 1;
    font-size: 2rem;
    font-weight: 800;
}

nav{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul{
    display: flex;
    order: 2;
    transition: 0.4ms;

}

nav ul a{
    color: black;
    font-size: 1.2rem;
    margin-left: 2rem;
    border-radius: 8px;
    transition: 0.2s;
}

nav a:hover {
    color: rgb(183, 233, 226);
    font-size: 2em;
}

img {
    height: 500px;
}

.container{
    height: 600px;
    padding: 20px;
    margin-top: -80px;
    margin-left: 120px;
    margin-right: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

div h1 {
    margin-left: 500px;
}

section p{
    margin-top: 20px;
    
}

section{
    margin-top: -30px;
    
}

header{
    background-color: rgb(176, 196, 196);
    padding: 20px;
}

h4 {
    padding-top: 30px;
}


