h1, h2, h3, h4{
    font-family: andale mono, monospace;
    font-size: 30px;
    font-weight: 100;
}

h2 {
    font-size: 50px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
}

nav{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: row-reverse;
}

nav ul{
    display: flex;
    transition: 0.4ms;

}

nav ul a{
    color: black;
    font-size: 1.2rem;
    margin-left: 2rem;
    border-radius: 8px;
    transition: 0.2s;
}

nav a:hover {
    color: rgb(183, 233, 226);
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    nav {
        text-align: center;
        flex-direction: column;
    }
}

img {
    height: 500px;
    
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


div h1 {
    margin-left: 500px;
}

section p{
    margin-top: 20px;
    
}

section{
    margin-top: 40px;

    
}

header{
    background-color: rgb(176, 196, 196);
    padding: 20px;
}

h4 {
    padding-top: 30px;
}

.wrapper-main {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

.side-image-left {
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

footer {
    padding-top: 300px;
    padding: 200px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color:rgb(176, 196, 196);
    text-decoration: none;
    border: none;
    font-family: andale mono, monospace;

}

button:hover {
    transform: scale(1.3);
    transition: 0.3s;
    background-color: rgb(172, 104, 104);
    color: aliceblue;
}

/* Dynamic greeting*/

.greet {
    font-size: 25px;
    animation: typing-text 2s steps(22);
    overflow: hidden;
    white-space: nowrap;

}

@keyframes typing-text {
    from {
        width: 0;
    }
    to {
        width: 20ch;
    }
}


